.card {
  font-size: 20px;
  margin-bottom: 5px;
  cursor: pointer;
}

.card:hover {
  font-weight: bold;
  color: blue;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

.search-input {
  margin-bottom: 20px;
}
